#batch-page {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#batch-page .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

#batch-page .panel.active {
    z-index: 10;
}

#batch-page .batch-form-group {
    text-align: left;
}

.batch-input {
    margin-bottom: 1rem;
}

.batch-finalize {
    margin: 1rem;
}
